.name-input {
  position: relative;
  margin-top: 25px;
  margin-bottom: 0;
  width: 100%;

  input {
    width: 100%;
    box-sizing: border-box;
    padding-left: 25px;
    font-family: Lato;
    font-size: 20px;
    line-height: 20px;
    height: 52px;
    color: #26357A;
    border: 1px solid #BDBDBD;
    border-radius: 8px;

    &:focus,
    &:active,
    &.fill,
    &.ng-valid.ng-touched {
      outline: none;

      +.label {
        top: -15px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  
    &::placeholder {
      color: #fff;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    :-webkit-autofill:focus {
      border: none;
      border-bottom: 2px solid #fff;
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 5px 5px 5px 35px #fff inset !important;
    }
  }

  .label {
    position: absolute;
    font-family: Lato;
    top: 16px;
    left: 25px;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #6E6E6E;
    transition: all 0.2s;
  }
}
