<cq-form-field-label
  *ngIf="label"
  [label]="label"
></cq-form-field-label>
<cq-array-control
  [formControl]="control"
  [initialItemValue]="initialItemValue"
  [minSize]="0"
>
  <ng-template
    #itemControl
    let-itemFormControl="itemFormControl"
  >
  <cq-select-search-control
    [formControl]="itemFormControl"
    [items]="availableBlocks$ | async"
    [searchFields]="['title']"
    [displayFn]="displayBlock"
    [valueFn]="valueBlock"
    [width]="300"
  ></cq-select-search-control>
  </ng-template>
</cq-array-control>
