$border-color: rgba(34, 36, 38, 0.15);
$active-border-color: #1976d2;
$hover-block-color: #beebff;
$placeholder-color: rgba(0, 0, 0, 0.42);

$orange-color: #ff6d21;
$blue-color: #2185d0;
$grey-color: #747b8e;
$red-color: #f65177;
$green-color: #00b5ad;

$plus-color: #00c853;
$minus-color: #d50000;

$text-color: #2f323a;
$title-text-color: #1e1e1e;
$light-text-color: #ebebeb;

$btn-border-color: rgba(34, 36, 38, 0.15);
$btn-white-text-color: rgba(0, 0, 0, 0.6);
$btn-active-white-text-color: rgba(0, 0, 0, 0.8);

$header-bg: rgba(33, 133, 208, 0.4);
$header-green-bg: rgba(172, 219, 121, 0.4);
$header-red-bg: rgba(227, 45, 88, 0.4);
$menu-bg: #dfdfdf;
$light-menu-bg: #ebebeb;
