.title {
  margin-bottom: 32px;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #26357A;
}

@media only screen and (min-width: 1024px)  {
  .title {
    max-width: 930px;
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 56px;
  }
}
