<footer class="footer">
  <div class="wrapper">
    <div class="footer__top">
      <img src="assets/images/city-quest.png" width="60" alt="City Quest">
    </div>
    <div class="footer__center">
      <ul class="footer__links">
        <li>
          <a class="footer__link" routerLink="/spb">
            Санкт-Петербург
          </a>
        </li>
        <li>
          <a class="footer__link" routerLink="/msk">
            Москва
          </a>
        </li>
        <li>
          <a class="footer__link" routerLink="/krsk">
            Красноярск
          </a>
        </li>  
        <li>
          <a class="footer__link"  routerLink="/ekb">
            Екатеринбург
          </a>
        </li>
      </ul>
    </div>
    <hr class="footer__line">
    <div class="footer__bottom">
      © 2022
    </div>
  </div>
</footer>
