<div #msk class="city__item msk">
  <div class="city__image mobile">
    <img src="assets/images/index-msk.jpg" height="300" alt="Msk" loading="lazy">
    <a class="btn" routerLink="/msk">
      Гулять
    </a>
  </div>
  <div class="city__description">
    <div class="city__description-title">
      Москва
    </div>
    <div class="city__description-text">
      Топ 10 мест для прогулок в мире
    </div>
    <div class="city__description-list">
      <div class="city__description-list-item">
        <div class="city__description-list-item-title">
          Здесь не только памятник Ленину, но и сам Ленин
        </div>
      </div>
      <div class="city__description-list-item">
        <div class="city__description-list-item-title">
          Московское метро за сутки перевозит в среднем 9 млн. человек, но они никуда не уезжают
        </div>
      </div>
      <div class="city__description-list-item">
        <div class="city__description-list-item-title">
          Один из самых дорогих городов мира, но гулять можно бесплатно
        </div>
      </div>
    </div>
  </div>
  <div class="city__right">
    <div class="city__image desktop">
      <img src="assets/images/index-msk.jpg" height="300" alt="Msk" loading="lazy">
      <a class="btn" routerLink="/msk">
        Гулять
      </a>
    </div>
  </div>
</div>