<div class="header">
  <button class="btn" (click)="selectScreen(null)">Создать экран</button>
</div>

<table class="table">
  <thead>
    <th *ngFor="let column of displayedColumns">
      <div class="th">
        <button class="th">
          {{ column.label }}
          <div class="arrow"></div>
        </button>
      </div>
    </th>
    <th></th>
  </thead>
  <tbody *ngIf="list?.length">
    <tr *ngFor="let item of list; index as i" (dblclick)="selectScreen(item)" [class.locked]="item.locked">
      <td *ngFor="let column of displayedColumns; index as j"
        >
        <ng-container [ngSwitch]="column.id">
          <ng-container *ngSwitchDefault>
            <div class="cell">{{ item[column.id] }}</div>
          </ng-container>
        </ng-container>
      </td>
      <td>
        <button class="cq-link" (click)="deleteScreen(item)">
          <cq-tooltip message="Delete">
            <mat-icon>delete</mat-icon>
          </cq-tooltip>
        </button>
        <button class="cq-link" (click)="selectScreen(item)">
          <cq-tooltip message="Edit">
            <mat-icon>edit</mat-icon>
          </cq-tooltip>
        </button>
        <button
          class="cq-link"
          (click)="selectScreen(item, true)"
        >
          <cq-tooltip message="Duplicate">
            <mat-icon>content_copy</mat-icon>
          </cq-tooltip>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-container *ngIf="visibleEditor">
  <div class="overlay" (click)="closeEditor()"></div>
  <div class="wrapper">
    <div class="editor">
      <cq-screen-editor
        [isCopy]="isCopy"
        [screen]="selectedItem"
        (screenChanged)="upsertScreen($event)"
        (screenNotFound)="closeEditor()"
        (closeEditor)="closeEditor()"
      >
      </cq-screen-editor>
    </div>
    <a
        class="clear"
        (click)="closeEditor()"
      >
        <mat-icon>clear</mat-icon>
      </a>
  </div>
</ng-container>

<cq-loader-with-backdrop *ngIf="loading"></cq-loader-with-backdrop>
