<div #spb class="city__item spb">
  <div class="city__image mobile">
    <img src="assets/images/index-spb.jpg" height="300" alt="Spb" loading="lazy">
    <a class="btn" routerLink="/spb">
      Гулять
    </a>
  </div>
  <div class="city__description">
    <div class="city__description-title">
      Санкт-Петербург
    </div>
    <div class="city__description-text">
      Культурная столица мира
    </div>
    <div class="city__description-list">
      <div class="city__description-list-item">
        <div class="city__description-list-item-title">
          Цифры
        </div>
        <ul>
          <li>Более 300 мостов</li>
          <li>Метро «Адмиралтейская» – уходит на 86 метров под землю</li>
          <li>270 религиозных общин</li>
        </ul>
      </div>
      <div class="city__description-list-item">
        <div class="city__description-list-item-title">
          Исторический центр охраняется ЮНЕСКО
        </div>
      </div>
    </div>
  </div>
  <div class="city__right">
    <div class="city__image desktop">
      <img src="assets/images/index-spb.jpg" height="300" alt="Spb" loading="lazy">
      <a class="btn" routerLink="/spb">
        Гулять
      </a>
    </div>
    
  </div>
</div>