.question {
  width: 100%;
  max-width: 335px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
  background: #D9FFD9;
  padding: 20px 17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2B2E3F;
}
