<ng-container [ngSwitch]="block.type">
  <ng-container *ngSwitchCase="TYPES.TEXT">
    <cq-block-text [block]="block"></cq-block-text>
  </ng-container>
  <ng-container *ngSwitchCase="TYPES.FACT">
    <cq-block-fact [block]="block"></cq-block-fact>
  </ng-container>
  <ng-container *ngSwitchCase="TYPES.QUESTION">
    <cq-block-question [block]="block"></cq-block-question>
  </ng-container>
  <ng-container *ngSwitchCase="TYPES.QUESTION_IN_VERSE">
    <cq-block-question-verse [block]="block"></cq-block-question-verse>
  </ng-container>
  <ng-container *ngSwitchCase="TYPES.PICTURE">
    <cq-block-picture [block]="block"></cq-block-picture>
  </ng-container>
  <ng-container *ngSwitchDefault>
    default
  </ng-container>
</ng-container>