@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'src/app/ui/styles/link.scss';

.notifications {
  z-index: 5;
  position: fixed;
  top: 50px;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  
  .notification {
    display: flex;
    width: 320px;
    padding: 14px 12px;
    background: #F5F5F5;
    border-radius: 13px;
    margin-bottom: 15px;
    overflow: hidden;
    
    .title {
      margin-left: 10px;
      font-size: 15px;
      line-height: 20px;
      color: #000000;
    }

    img {
      display: block;
    }
  }
}

@keyframes openAndHide {
  0% {
    top: -100px;
  }

  10% {
    top: 50px;
  }
  
  90% {
    top: 50px;
  }

  100% {
    top: -100px;
  }
}
