<div #ekb class="city__item ekb">
  <div class="city__image mobile">
    <img src="assets/images/index-ekb.jpg" height="300" alt="Ekb" loading="lazy">
    <a class="btn" routerLink="/ekb">
      Гулять
    </a>
  </div>
  <div class="city__description">
    <div class="city__description-title">
      Екатеринбург
    </div>
    <div class="city__description-text">
      Уже полтора миллиона бродящих местных
    </div>
    <div class="city__description-list">
      <div class="city__description-list-item">
        <div class="city__description-list-item-title">
          Основан императором Петром I
        </div>
      </div>
      <div class="city__description-list-item">
        <div class="city__description-list-item-title">
          Попал в книгу рекордов Гиннесса как город с максимальным потреблением майонеза на душу населения.
        </div>
      </div>
    </div>
  </div>
  <div class="city__right">
    <div class="city__image desktop">
      <img src="assets/images/index-ekb.jpg" alt="Ekb" loading="lazy">
      <a class="btn" routerLink="/ekb">
        Гулять
      </a>
    </div>
  </div>
</div>