.item {
  box-sizing: border-box;
  width: 320px;
  height: 400px;
  position: relative;
  padding: 24px 20px 20px;
  margin: 0;
  margin-bottom: 16px;
  margin-right: 16px;
  background: #FFFFFF;
  border-radius: 24px;

  &.disabled {
    .item {
      opacity: 0.5;
    }
  }
}

.name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #353E6C;
}
