.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
  padding-top: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.btn {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  background: #5055BE;
  text-decoration-line: none;
  padding: 12px 20px;
  display: block;
  width: 320px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.2s;

  &:hover {
    background: #6F6CFF;
  }

  &:disabled {
    opacity: 0.8;
  }
}