@import 'src/app/ui/styles/variables';

.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 16px;
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #26357A;
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

