@import 'src/app/ui/styles/colors';

:host {
  display: block;
}

.btn {
  margin-top: 5px;
  padding: 7px;
  color: #fff;
  border-radius: 0.28571429rem;
  background: #00b5ad;
}

.item {
  $drag-width: 24px;
  $remove-width: 40px;

  display: flex;
  width: 100%;

  .drag {
    display: flex;
    width: $drag-width;
    align-items: center;
    cursor: move;
  }

  .remove {
    width: $remove-width;
  }
}

.actions {
  display: flex;
  padding-top: 0px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-start;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.items.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-placeholder {
  background: $hover-block-color;
  border: dashed 1px $active-border-color;
  height: 50px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
