@import 'src/app/ui/styles/link.scss';
@import 'src/app/ui/styles/btn.scss';

.header {
  margin: 10px;
}

.table {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  padding: 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  border-spacing: 0;
  overflow: visible;

  thead {
    background: #dfdfdf;
    border-bottom: 1px solid #d7d7d7;
    margin: 0;
    padding: 0;
  }

  th {
    vertical-align: bottom;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    white-space: nowrap;
    border: none;
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    padding: 10px;
    margin: 0;

    &:first-child {
      border-left: none;
      padding-left: 24px;
    }
  }

  .th {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  td {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    overflow: visible;
    padding: 0 10px;
    position: relative;
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);

    &:first-child {
      border-left: none;
      padding-left: 24px;
    }
  }

  tr {
    height: 53px;
    margin: 0;

    &:last-child td {
      border-bottom: none;
    }
  }
}

.wrapper {
  display: flex;
  align-items: flex-start;
  position: fixed;
  z-index: 3;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
}

.editor {
  position: relative;
  height: 90%;
  width: 95%;
  margin-top: 30px;
  overflow-y: scroll;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  cursor: default;
}
