<div class="header">
  <button class="btn" (click)="openEditor()">Добавить картинку</button>
</div>

<table class="table">
  <thead>
    <th *ngFor="let column of displayedColumns">
      <div class="th">
        {{ column.label }}
      </div>
    </th>
    <th></th>
  </thead>
  <tbody *ngIf="(state | async)">
    <tr *ngFor="let item of (state | async)?.image?.list; index as i">
      <td *ngFor="let column of displayedColumns; index as j"
        >
        <ng-container [ngSwitch]="column.id">
          <ng-container *ngSwitchCase="'imageSrc'">
            <a [href]="'/' + item.imageSrc" class="cq-link" target="_blank">{{ item.imageSrc }}</a>
          </ng-container>
          
          <ng-container *ngSwitchDefault>
            <div class="cell">{{ item[column.id] }}</div>
          </ng-container>
        </ng-container>
      </td>
      <td>
        <button class="cq-link" (click)="deleteImage(item)">
          <cq-tooltip message="Delete">
            <mat-icon>delete</mat-icon>
          </cq-tooltip>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-container *ngIf="visibleEditor">
  <div class="overlay" (click)="closeEditor()"></div>
  <div class="wrapper">
    <div class="editor">
      <cq-image-editor
        (imageChanged)="updateInfo()"
        (closeEditor)="closeEditor()"
      >
      </cq-image-editor>
    </div>
    <a
        class="cq-link"
        (click)="closeEditor()"
      >
        <mat-icon>clear</mat-icon>
      </a>
  </div>
</ng-container>

<cq-loader-with-backdrop *ngIf="loading"></cq-loader-with-backdrop>
