<cq-quest-header [title]="quest?.description" [goBackBtnVisible]="goBackVisible()" (goBack)="prev()"></cq-quest-header>

<div class="container" [class.container--move]="move">
  <div class="current">
    <ng-template #currentContainer></ng-template>
  </div>
  
  <div class="next">
    <ng-template #nextContainer></ng-template>
  </div>
</div>

<cq-quest-music-rating 
  *ngIf="showRatingModal"
  (ratingSubmitted)="onRatingSubmitted($event)"
  (closeModal)="onModalClosed()">
</cq-quest-music-rating>