@import 'src/app/ui/styles/colors';
@import 'src/app/ui/styles/typography';

.wrapper {
  width: calc(100% - 32px);
  padding: 30px 0;
  max-width: 650px;
  margin: 0 auto;
}

.title {
  margin-bottom: 24px;
  @include h4;
  color: $primary;
}

.subtitle {
  margin-bottom: 12px;
  @include h5;
  color: $primary;
}

.text {
  margin-bottom: 20px;
  @include p2;
  color: $primary;
}

.list {
  margin-bottom: 24px;
  padding-left: 24px;
  @include p2;
  color: $primary;
}

.item {
  list-style-type: disc;
}
