.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: calc(100% - 48px);
  margin: 0 auto;
}

.rating {
  margin: 20px 0;
  font-size: 24px;
  cursor: pointer;
  
  span {
    color: #ccc;
    &.selected {
      color: #ffd700;
    }
  }
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;

  button {
    cursor: pointer;
  }
}
